label {
  margin: 0px 0px 8px;
  font-size: 13px;
  color: #54698d;
  position: relative;
}

.validation__text {
  padding: 0 10px;
  font-size: 10px;
  position: absolute;
  top: 40px;
  right: 0;

  &.red {
    color: #ff0000;
  }

  &.green {
    color: #008000;
  }
}

.mark {
  color: #ff0000;
}