.form {
  margin: 0px auto;
  padding: 20px;
  width: 380px;
  background-color: #ffffff;
  color: #16325c;
  border-radius: 4px;
  border: 1px solid #d8dde6;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header, &__footer {
    margin: 0;
    line-height: 1.5;
  }

  &__header {
    font-size: 13px;
  }

  &__footer {
    font-size: 12px;
  }
}

.input, .select, .password {
  margin-top: 8px;
  display: block;
  padding: 12px;
  font-size: 13px;
  width: 100%;
  border: 1px solid #969492;
  border-radius: 4px;
}

.select {
  appearance: none;
  padding-left: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23888" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
}

.input:focus, .select:focus, .password:focus {
  background-color: #ffffff;
  border: 1px solid #1589ee;
  outline: 0px;
  box-shadow: #0070d2 0px 0px 3px;
}

.button {
  padding: 12px 24px;
  background-color: #0070d2;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.1s ease 0s;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: #005fb2;
  }

  &:disabled {
    background-color: #e6e6e6;
    color: #737373;
    cursor: inherit;
  }
}

label {
  margin: 0px 0px 8px;
  font-size: 13px;
  color: #54698d;
  position: relative;
}

.label__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mark {
  color: #ff0000;
}

.rule {
  margin: 0;
  padding-left: 0px;
  font-size: 13px;
  list-style-type: none;
}

.item {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  &.check {
    color: #008000;
  }
}

.icon-circle {
  font-size: 14px;
  color: #9dadc0;

  &.check {
    color: #008000;
  }
}

.validation__text {
  padding: 0 10px;
  font-size: 10px;
  position: absolute;
  top: 42px;
  right: 0;

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }
}