.ruleItem {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  &.check {
    color: #008000;
  }
}

.icon-circle {
  font-size: 14px;
  color: #9dadc0;

  &.check {
    color: #008000;
  }
}