@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: SFS, Arial, sans-serif;
  background-color: #f5f7fa;
  line-height: 1.5;
}

.container {
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 380px;
}

.logo {
  max-width: 180px;
  max-height: 113px;
}

.title {
  margin: 0 auto;
  font-size: 24px;
  color: #16325c;
}

.bold {
  font-weight: bold;
}

.input, .select, .password {
  margin-top: 8px;
  display: block;
  padding: 12px;
  font-size: 13px;
  width: 100%;
  border: 1px solid #969492;
  border-radius: 4px;

  &.red {
    border: 1px solid rgb(255, 0, 0);
  }

  &.green {
    border: 1px solid #008000;
  }
}

.input:focus, .select:focus, .password:focus {
  background-color: #ffffff;
  border: 1px solid #1589ee;
  outline: 0px;
  box-shadow: #0070d2 0px 0px 3px;

  &.red {
    border: 1px solid #ff0000;
    box-shadow: #b00 0px 0px 3px;
  }

  &.green {
    border: 1px solid #008000;
    box-shadow: #003c00 0px 0px 3px;
  }
}